<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>log-in</title>
  <link rel="stylesheet" href="forget-pass.css">
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>
<body>
    <div class="main-section dotted-bg">
      <div class="main-container rombus-bg">
        <div class="greetings">
          <h2 class="rev-bg welcome-title">Change password</h2>
          <img src="key.png" class="welcome-img" alt="">
        </div>
        <div class="main-all-content-container">

        <!-- forgot pass email enterning part -->
        <div class="forgot-password-container">
          <span>
          <div class="content">
              <h2>Forget password</h2>
              <p>Please enter your email address to request a password reset.</p>
          </div>
          <form id="forgotPasswordForm" action="/reset_otp" method="post">
              <input type="email" id="emailInput" placeholder="Enter your email" name="email" autofocus required>
              <button type="submit" class="go_back" id="email-button">Send otp Link</button>
          </form>
          <p id="message"></p>
      </span>
      </div>
  

    <!-- OTP SECTION -->
    <div id="loginModal" class="modal">
      <div class="otp-form">
          <h2 id="otp-title-section">Otp verfication</h2>
          <form id="otpForm" action="/reset_pass" method="post">
              <div class="otp-inputs">
                  <input type="number" id="otp1" maxlength="1" autocomplete="off" name="no1" disabled>
                  <input type="number" id="otp2" maxlength="1" autocomplete="off" name="no2" disabled>
                  <input type="number" id="otp3" maxlength="1" autocomplete="off" name="no3" disabled>
                  <input type="number" id="otp4" maxlength="1" autocomplete="off" name="no4" disabled>
                  <input type="number" id="otp5" maxlength="1" autocomplete="off" name="no5" disabled>
                  <input type="number" id="otp6" maxlength="1" autocomplete="off" name="no6" disabled>
              </div>
              <button type="submit" class="go_back" id="otp-button" disabled>Verify OTP</button>
          </form>
      </div>
  </div>
  <!-- END -->
</div>
</div>
</div>  
  <script src="forget-pass.js"></script>
</body>
</html>